<div class="inicio-background">
  <div>
    <div class="bar">

    <h3>Registro Extemporáneo 2</h3>
  </div>
      
          
          
</div>
<br>
            <form class="formulario">
          Nombre Completo:<br>
          <input type="text" name="Nombre" >
          <br>
          Alumno:<br>
          <label class="container">Si
            <input type="radio" checked="checked" name="Alumno">
            <span class="checkmark"></span>
          </label>
          <label class="container">No
            <input type="radio" name="Alumno">
            <span class="checkmark"></span>
          </label>
          <br>
          Matricula:<br>
          <input type="text" name="Matricula" >
          <br>
          <input type="image" src="submit.gif" alt="Submit" width="48" height="48">
          <input type="image" src="submit.gif" alt="Submit" width="48" height="48">
          <br>
          <input type="button" class="button" value="Entrada" routerLink="/menuVig2">
          <br>
        </form>
  
  
</div>