<div class="inicio-background">
  <div>
    <div class="bar">

    <h3>Registro Extemporáneo 2</h3>
  </div>
      
          
          
</div>
<br>
            <form class="formulario">
          Nombre Completo:<br>
          <input type="text" name="Nombre" >
          <br>
          Alumno:<br>
          <label class="container">Si
            <input type="radio" checked="checked" name="Alumno">
            <span class="checkmark"></span>
          </label>
          <label class="container">No
            <input type="radio" name="Alumno">
            <span class="checkmark"></span>
          </label>
          <br>
          Matricula:<br>
          <input type="text" name="Matricula" >
          <br>
        Persona
          <button class="btnicon">
            
              <input type="image"src="assets/img/camara.png" alt="Fotografía" width="90%" height="90%" >
               </button>

          Bicicleta
         <button class="btniconv">
            
                            <input type="image"src="assets/img/camara.png" alt="Fotografía" width="90%" height="90%" >
                             </button>
          <br>
          <br>
          <input type="button" class="button" value="Entrada" routerLink="/menuVig2">
          <br>
        </form>
  
  
</div>