<admin-menu></admin-menu>

      
      <div class="inicio-background">
          <br>
          <div class="info-space">
            <h1>
              Acceso A
              
            </h1>           
              </div>
          <div class="info-space">
              <h1>
              Acceso B
                </h1>
            </div> 
            <div class="info-space">
                <h1>
                Acceso C
                </h1>
            </div> 
            <div class="info-space">
                <h1>
                Acceso D
                </h1>
            </div> 
            <div class="info-space">
                <h1>
                Acceso E
                </h1>
            </div> 
            <div class="info-space">
                <h1>
                Acceso F
                </h1>
            </div> 
            <div class="info-space">
                <h1>
                Acceso G
                </h1>
            </div> 
            <div class="info-space">
                <h1>
                Acceso H
                </h1>
            </div> 
            <div class="info-space">
                <h1>
                Acceso I
                </h1>
            </div> 
            <div class="info-space">
                <h1>
                Acceso J
                </h1>
            </div> 
            <div class="info-space">
                <h1>
                Acceso K
                </h1>
            </div> 

      </div>