<div class="inicio-background">
    <div>
      <div class="bar">
<div class="dropdown">
<button class="dropbtn">
    <div class="btn"></div>
    <div class="btn"></div>
    <div class="btn"></div>
</button>

<div class="adminmenu">
    <a routerLink="/aControlB" >Control de bicicletas</a>
    <a routerLink="/aRegE1">Registro extemporáneo</a>
    <a routerLink="/aRegV">Registro de vigilantes</a>
    <a routerLink="/aAccesos">Control de accesos</a>
    <a routerLink="/aExp">Exportar datos</a>

  </div>
  
</div>
<h3>Control de Accesos</h3>
</div>
        
            
            
  </div>
  <br>
          <div class="info-space">
            <h1>
              Acceso A
              
            </h1>           
              </div>
          <div class="info-space">
              <h1>
              Acceso B
                </h1>
            </div> 
            <div class="info-space">
                <h1>
                Acceso C
                </h1>
            </div> 
            <div class="info-space">
                <h1>
                Acceso D
                </h1>
            </div> 
            <div class="info-space">
                <h1>
                Acceso E
                </h1>
            </div> 
            <div class="info-space">
                <h1>
                Acceso F
                </h1>
            </div> 
            <div class="info-space">
                <h1>
                Acceso G
                </h1>
            </div> 
            <div class="info-space">
                <h1>
                Acceso H
                </h1>
            </div> 
            <div class="info-space">
                <h1>
                Acceso I
                </h1>
            </div> 
            <div class="info-space">
                <h1>
                Acceso J
                </h1>
            </div> 
            <div class="info-space">
                <h1>
                Acceso K
                </h1>
            </div> 

      </div>