<div class="inicio-background">
 <app-menu-component></app-menu-component>
  <br>
          <div class="info-space">
            <h1>
              Acceso A
            </h1>
            <br><br>
             <img src="assets/img/javier.jpg" class = "imagenp" alt="image"><p>Javier Amador Lagunes</p>
            </div>           
          <div class="info-space">
              <h1>
              Acceso B
            </h1>
            <br><br>
             <img src="assets/img/javier.jpg" class = "imagenp" alt="image"><p>Javier Amador Lagunes</p>
            </div>     
            <div class="info-space">
                <h1>
                Acceso C
            </h1>
            <br><br>
             <img src="assets/img/javier.jpg" class = "imagenp" alt="image"><p>Javier Amador Lagunes</p>
            </div>     
            <div class="info-space">
                <h1>
                Acceso D
            </h1>
            <br><br>
             <img src="assets/img/javier.jpg" class = "imagenp" alt="image"><p>Javier Amador Lagunes</p>
            </div>     
            <div class="info-space">
                <h1>
                Acceso E
            </h1>
            <br><br>
             <img src="assets/img/javier.jpg" class = "imagenp" alt="image"><p>Javier Amador Lagunes</p>
            </div>     
            <div class="info-space">
                <h1>
                Acceso F
            </h1>
            <br><br>
             <img src="assets/img/javier.jpg" class = "imagenp" alt="image"><p>Javier Amador Lagunes</p>
            </div>     
            <div class="info-space">
                <h1>
                Acceso G
            </h1>
            <br><br>
             <img src="assets/img/javier.jpg" class = "imagenp" alt="image"><p>Javier Amador Lagunes</p>
            </div>     
            <div class="info-space">
                <h1>
                Acceso H
            </h1>
            <br><br>
             <img src="assets/img/javier.jpg" class = "imagenp" alt="image"><p>Javier Amador Lagunes</p>
            </div>     
            <div class="info-space">
                <h1>
                Acceso I
            </h1>
            <br><br>
             <img src="assets/img/javier.jpg" class = "imagenp" alt="image"><p>Javier Amador Lagunes</p>
            </div>     
            <div class="info-space">
                <h1>
                Acceso J
            </h1>
            <br><br>
             <img src="assets/img/javier.jpg" class = "imagenp" alt="image"><p>Javier Amador Lagunes</p>
            </div>     
            <div class="info-space">
                <h1>
                Acceso K
            </h1>
            <br><br>
             <img src="assets/img/javier.jpg" class = "imagenp" alt="image"><p>Javier Amador Lagunes</p>
            </div>     
      </div>
