<div class="inicio-background">
  <div>
    <div class="bar">

    <h3>Registro Extemporáneo</h3>
  </div>
      
          
          
</div>
<br>
            <form class="formulario">
          Nombre Completo:<br>
          <input type="text" name="Nombre" >
          <br>
          <input type="button" class="button" value="Revisar Registro">
          <br>
          <br><br>
          <p>Sin registro previo ?</p>
              <br>
              <br>
              <br>
          <input type="button" class="button" value="Registrar ">
              <br>
              <br>
              <br>
              <br>
              <input type="button" class="buttongris" value="Regresar" style="float: right;">
        </form>
  
</div>