<div class="inicio-background">
        <div class="head">
            <h3>Entrada</h3>
        </div>
        <div class="columna">
          <img src="assets/img/javier.jpg" class = "imagenp" alt="image"><br><br>
      </div>
      <div class="pad" >
          <div  class="fif"><img src="assets/img/bicijavi.jpg"  alt="bicicleta" width="100%"  height= auto></div>
          <div  class="fif"><p>Color: Gris</p>
            <p>Rodada: 23</p>
            <p>Marca: XZY</p>
            <p>Características: macha en el costado derecho</p>
          </div>
        </div>
    <br><br><br><br>
    <button class = "boton-personalizado">Ver Otros Dueños</button>
    <br><br><br>
    <button class = "boton-personalizado3">Confirmar</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button class = "boton-personalizado4" routerLink="/menuVig1">Regresar</button>
    <br><br>
</div>