<div class="inicio-background">

    <div class="head">
        <h3>ENTRADA</h3>
    </div>
    <label>Registro previo: 2 intentos</label><br><br>
    <div class="columna">
        <img src="assets/img/javier.jpg" class = "imagenp" alt="image"><br><br>
        <label>Javier Amador Lagunes</label><br>
        <label>21/Febrero/2019</label><br>
        <label>06:20 pm</label><br><br>
    </div>
    
    <div class="columna">
        <img src="assets/img/bici.jpg" class = "imagenp" alt="image2"><br><br>
        Numero: <label>2</label><br><br>
        Color: <label>Rojo</label><br><br>
        Marca: <label>Benotto</label>
        <br><br>
    </div>
    <br><br><br><br><br><br><br><br>
    <button class = "boton-personalizado">Ver Otros Dueños</button>
    <br><br><br>
    <button class = "boton-personalizado3">Confirmar</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button class = "boton-personalizado4">Regresar</button>
    <br><br>
</div>