<div class="inicio-background">
  
    <div class="head">
        <h3>Registro de Bicicletas</h3>
    </div>
    <form class="formulario">
        Marca<br>
        <input type="text" name="Clave" >
        <br><br>
        Rodada<br>
        <input type="text" name="Clave" >
        <br><br>
        Color<br>
        <input type="text" name="Clave" >
        <br><br>
        No. de Serie<br>
        <input type="text" name="Clave" >
        <br><br>
        Matrícula del Dueño<br>
        <input type="text" name="Clave" >
        <br><br>
        Compartida con<br>
        <select name="Compartida">
            
        </select>
      <br><br>
        
      <button class = "boton-personalizado2">
            <img src="assets/img/camara.png" class = "imagenp" alt="image">
        </button>
        <br><br>
        <button class = "boton-personalizado">Guardar</button>
        <br><br>
    </form>
</div>