<div class="inicio-background">
  <div>
    <div class="bar">
    <h3>Javier Amador Lagunes</h3>
  </div>
</div>
<br>
  <div class="columna">
    <img [src]="imagePath" class = "imagenp" alt="image"><br><br>
</div>
<div class="pad" >
    <div  class="fif">
      <img src="assets/img/bicijavi.jpg"  alt="bicicleta" width="100%"  height= auto>
    </div>
    <div  class="fif">
      <p>Rodada: 123</p>
      <p>Marca: xyz</p>
      <p>Color: rojo</p>
      <p>No. de serie: 5432</p>
      <p>Matrícula del dueño: 5673842</p>
    </div>
    <div  class="fifc">
      <br>
      <br>
      <br>
      <button class="btnicon">QR</button>
    </div>
  </div>
  <br>
  <br>
  <div class="pad" >
    <div  class="fif"><img src="assets/img/bicijavi.jpg"  alt="bicicleta" width="100%"  height= auto></div>
    <div  class="fif"><p>Color: Gris</p>
      <p>Rodada: 123</p>
      <p>Marca: xyz</p>
      <p>Color: rojo</p>
      <p>No. de serie: 5432</p>
      <p>Matrícula del dueño: 5673842</p>
     </div>
    <div  class="fifc">
      <br>
      <br>
      <br>
      <button class="btnicon">QR</button>
    </div>
  </div>
  <br>
  <br>
  <h3>
    Compartida con : Pastor Cisneros
  </h3>
  <p routerLink="/alumnos">Cerrar Sesión</p>
  <br>
  <br>
  </div>


