<div class="inicio-background">

        <div class="head">
            <h3>Javier</h3>
        </div>
        <div class="columna">
            <img src="assets/img/javier.jpg" class = "imagenp" alt="image"><br><br>
        </div>
        <label>Bicicletas</label><br><br>
        <div class="columna">
            <img src="assets/img/bicijavi.jpg" class = "imagenp" alt="image2"><br><br>
            Numero: <label>2</label><br><br>
            Color: <label>Rojo</label><br><br>
            Marca: <label>Benotto</label><br><br>
            <button class = "boton-personalizado5">QR</button>
        </div>
        <br><br><br><br><br><br><br><br>
        Compartida con: <label>Pastor Cisneros Díaz</label>
        <br><br><br>
        <button class= "boton-personalizado" routerLink="/alumnos">Cerrar Sesión</button>
        
    </div>