<div class="inicio-background">
  <app-menu-component></app-menu-component>
<br>
        <form class="formulario">
      Nombre Completo:<br>
      <input type="text" name="Nombre" >
      <br>
      Clave:<br>
      <input type="text" name="Matricula">
      <br><br>
      Acceso:<br>
      <select name="Acceso">
             <option value="AccA">Acceso A</option>
             <option value="AccB">Acceso B</option>
             <option value="AccC">Acceso C</option>
             <option value="AccD">Acceso D</option>
             <option value="AccE">Acceso E</option>
             <option value="AccF">Acceso F</option>
             <option value="AccG">Acceso G</option>
             <option value="AccH">Acceso H</option>
             <option value="AccI">Acceso I</option>
             <option value="AccJ">Acceso J</option>
             <option value="AccK">Acceso K</option>
          </select>
          <br><br>
          E-mail:<br>
          <input type="email" name="email"><br>
      Contraseña:<br>
      <input type="password" name="Contraseña">
      <br>
      <button class="btnicon">
          <input type="image"src="assets/img/camara.png" alt="Descargar" width="80%" height="60%" >
      </button>

    <br>
    <input type="button" class="button" value="Guardar">
    </form>
    </div>
