<div class="inicio-background">
  <app-menu-component></app-menu-component>
<br>
      <!--
        los formularios para el enviío de información, son
        enviados mediante FormGroup y cada entrada con su respectivo
        FormControlNAme
       -->
      <form class="formulario" (submit)="onSignUp()" [formGroup]="form">
      Nombre(s):<br>
      <input ngModel type="text" formControlName="name" >
      <br>
      Apellido Paterno:<br>
      <input ngModel type="text" formControlName="apePaterno" >
      <br>
      Apellido Materno:<br>
      <input ngModel type="text" formControlName="apeMaterno" >
      <br>
      Matricula:<br>
      <input ngModel type="text" formControlName="matricula">
      <br>
      <br>
      Clave:<br>
      <input ngModel type="text" formControlName="clave">
      <br>
      telefono:<br>
      <input ngModel type="text" formControlName="telefono">
      <br><br>
      Acceso:<br>
      <select formControlName="acceso">
             <option value="AccesoA">Acceso A</option>
             <option value="AccesoB">Acceso B</option>
             <option value="AccesoC">Acceso C</option>
             <option value="AccesoD">Acceso D</option>
             <option value="AccesoE">Acceso E</option>
             <option value="AccesoF">Acceso F</option>
             <option value="AccesoG">Acceso G</option>
             <option value="AccesoH">Acceso H</option>
             <option value="AccesoI">Acceso I</option>
             <option value="AccesoJ">Acceso J</option>
             <option value="AccesoK">Acceso K</option>
          </select>
          <br><br>
          E-mail:<br>
      <input ngModel type="email" formControlName="email"><br>
      Contraseña:<br>
      <input ngModel type="password" formControlName="contrasena">
      <br>
      <button class="btnicon">
          <input type="image"src="assets/img/camara.png" alt="Descargar" width="80%" height="60%"
          (click)="filePicker.click()" >
      </button>
      <input type="file" #filePicker (change)="onImagePicked($event)">
      <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview && form.get('image').valid">
        <img [src]="imagePreview" [alt]="form.value.title">
      </div>
    <br>
    <input type="submit" class="button" value="Guardar">
    </form>
    </div>
