<div class="inicio-background">
  <app-menu-component></app-menu-component>
<br>
      <div class="info-space">
        <h1>
          Bicicletas en CU
        </h1>
          <br>
          <div class="info-img">
              <p>92</p>
              <br>
              <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b1/Bicycle-Silhouette.svg/800px-Bicycle-Silhouette.svg.png" alt="Bicicletas">
          </div>
        </div>
      <div class="info-space">
          <h1>
          Bicicletas por hora
            </h1>
        </div>
        <div class="info-space">
            <h1>
            Buscar bicicleta
            </h1>

        </div>
        </div>
