<div class="inicio-background">
  <app-menu-component></app-menu-component>
<br>
      <div class="info-space">
        <h4>
          Bicicletas en CU
        </h4>
          <br>
          <div class="info-img">
              <h1>92</h1>
              <br>
              <img src="assets/img/bici.png" alt="Bicicletas">
          </div>
        </div>
      <div class="info-space">
          <h4>
          Bicicletas por hora
            </h4>
        </div>
        <div class="info-space">
            <h4>
            Buscar bicicleta
            </h4>
        </div>
        </div>
