<div class="inicio-background">
  <div>
    <div class="bar">

    <h3>Alumnos</h3>
  </div>
      
          
          
</div>
<br>
            <form class="formulario">
          Matricula:<br>
          <input type="text" name="Matricula" >
          <br>
         
              <br><br>
              Contraseña:<br>
              <input type="password" name="Contraseña">
              <br>
          <input type="button" class="button" value="Entrar">
          <br>
          <p>Olvidaste tu contraseña ?</p>
        </form>
</div>