<div class="inicio-background">
  <div>
    <div class="bar">
    <h3>Alumnos</h3>
  </div>

</div>
<br>
        <form class="formulario" (submit)="onLogin()" [formGroup]="form">
          Matricula:<br>
          <input type="text" formControlName="matricula" >
          <br>
          <br><br>
          Contraseña:<br>
          <input type="password" formControlName="password">
          <br>
          <input type="submit" class="button" value="Iniciar Sesión">
          <br>
          <p routerLink="/recuperar2">Olvidaste tu contraseña ?</p>
        </form>
</div>
