<div class="inicio-background">
    <header>
        <admin-menu>
         Registro Extemporáneo
        </admin-menu>
      </header>
      <br>
    <form class="formulario">
  Nombre Completo:<br>
  <input type="text" name="Nombre" >
  <br>
  Matricula:<br>
  <input type="text" name="Matricula">
  <br><br>
  Facultad:<br>
  <select name="Facultad">
         <option value="Veterinaria"> Medicina Veterinaria</option>
         <option value="Biología">Escuela de Biología</option>
         <option value="CQuimicas"> Ciencias Químicas</option>
         <option value="Enfermería"> Enfermería</option>
         <option value="Estomatología"> Estomatología</option>
         <option value="Agro"> Ingeniería Agrohidráulica</option>
         <option value="Medicina"> Medicina</option>
         <option value="Administración"> Administración</option>
         <option value="Comunicacion"> Ciencias de la Comunicación </option>
         <option value="Contaduria"> Contaduría Pública</option>
         <option value="Economia"> Economía</option>
         <option value="Arquitectura"> Arquitectura</option>
         <option value="Computacion"> Ciencias de la Computación </option>
         <option value="Electronica"> Ciencias de la Electrónica </option>
         <option value="Matematicas"> Ciencias Físico Matemáticas</option>
         <option value="Ingenieria"> Ingeniería</option>
         <option value="IQumica"> Ingeniería Química</option>
         <option value="Artes">Escuela de Artes</option>
         <option value="ArtesP">Escuela de Artes Plásticas y Audiovisuales</option>
         <option value="Comunicacion"> Ciencias de la Comunicación</option>
         <option value="Fisica"> Cultura Física</option>
         <option value="Derecho"> Derecho y Ciencias Sociales</option>
         <option value="Filosofia"> Filosofía y Letras</option>
         <option value="Lenguas"> Lenguas</option>
         <option value="Psicologia"> Psicología</option>
         <option value="CFisica"> Cultura Física</option>
      </select>
      <br><br>
  Telefono:<br>
  <input type="text" name="Telefono" > 
  <br>
  E-mail:<br>
  <input type="email" name="email"><br>
  Contraseña:<br>
  <input type="password" name="Contraseña">
  <br>
</form>
</div>