<div class="inicio-background">
  <app-menu-component></app-menu-component>

<br>
    <form class="formulario" (submit)="onSignUp()" [formGroup]="form">
  Nombre(s):<br>
  <input type="text" formControlName="name">
  <br>
  Apellido Paterno:<br>
  <input type="text" formControlName="apePaterno">
  <br>
  Apellido Materno:<br>
  <input type="text" formControlName="apeMaterno">
  <br>
  Matricula:<br>
  <input type="text" formControlName="matricula">
  <br><br>
  Facultad:<br>
  <select name="Facultad" formControlName="facultad">
         <option value="Veterinaria"> Medicina Veterinaria</option>
         <option value="Biología">Escuela de Biología</option>
         <option value="CQuimicas"> Ciencias Químicas</option>
         <option value="Enfermería"> Enfermería</option>
         <option value="Estomatología"> Estomatología</option>
         <option value="Agro"> Ingeniería Agrohidráulica</option>
         <option value="Medicina"> Medicina</option>
         <option value="Administración"> Administración</option>
         <option value="Comunicacion"> Ciencias de la Comunicación </option>
         <option value="Contaduria"> Contaduría Pública</option>
         <option value="Economia"> Economía</option>
         <option value="Arquitectura"> Arquitectura</option>
         <option value="Computacion"> Ciencias de la Computación </option>
         <option value="Electronica"> Ciencias de la Electrónica </option>
         <option value="Matematicas"> Ciencias Físico Matemáticas</option>
         <option value="Ingenieria"> Ingeniería</option>
         <option value="IQumica"> Ingeniería Química</option>
         <option value="Artes">Escuela de Artes</option>
         <option value="ArtesP">Escuela de Artes Plásticas y Audiovisuales</option>
         <option value="Comunicacion"> Ciencias de la Comunicación</option>
         <option value="Fisica"> Cultura Física</option>
         <option value="Derecho"> Derecho y Ciencias Sociales</option>
         <option value="Filosofia"> Filosofía y Letras</option>
         <option value="Lenguas"> Lenguas</option>
         <option value="Psicologia"> Psicología</option>
         <option value="CFisica"> Cultura Física</option>
      </select>
      <br><br>
  Telefono:<br>
  <input type="text" formControlName="telefono" >
  <br>
  E-mail:<br>
  <input type="email" formControlName="email"><br>
  Contraseña:<br>
  <input type="password" formControlName="password">
  <br>
  <button class="btnicon">
      <input type="image" src="assets/img/camara.png" alt="Descargar" width="80%" height="60%"
      (click)="filePicker.click()">
  </button>
  <input type="file" #filePicker (change)="onImagePicked($event)">
  <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview && form.get('image').valid">
    <img [src]="imagePreview" [alt]="form.value.title">
  </div>
  <br>
  <input type="submit" class="button" value="Guardar">
</form>
</div>
