<div class="inicio-background">
  <app-menu-component></app-menu-component>
<br>
          <div class="info-space">
            <h1>
              Registro Bicicletas
              <br><br>
                  <div class="rango">
                    <div class="fecha">
                        Desde: <input type="datetime-local" name="Desde"> Hasta: <input type="datetime-local" name="Hasta">
                    </div>
                    <div class= "btndescarga">
                        <button class="btnicon">
                            <input type="image"src="assets/img/descarga.png" alt="Descargar" width="90%" height="90%" >
                             </button>
                    </div>
                    </div>
                    <br>
                    <br>
            </h1>
              </div>
          <div class="info-space">
              <h1>
                  Registro de Accesos
                  <br><br>
                  <div class="rango">
                    <div class="fecha">
                        Desde: <input type="datetime-local" name="Desde">Hasta: <input type="datetime-local" name="Hasta">
                    </div>
                    <div class= "btndescarga">
                        <button class="btnicon">
                            <input type="image"src="assets/img/descarga.png" alt="Descargar" width="90%" height="90%" >
                             </button>
                    </div>
                    </div>
                    <br>
                    <br>
                </h1>
            </div>
            <div class="info-space">
                <h1>
                    Registro de Alumnos
                    <br><br>
                  <div class="rango">
                    <div class="fecha">
                        Desde: <input type="datetime-local" name="Desde">Hasta: <input type="datetime-local" name="Hasta">
                    </div>
                    <div class= "btndescarga">
                        <button class="btnicon">
                            <input type="image"src="assets/img/descarga.png" alt="Descargar" width="90%" height="90%" >
                             </button>
                    </div>
                    </div>
                    <br>
                    <br>
                  </h1>
            </div>
      </div>
