<admin-menu></admin-menu>

      
      <div class="inicio-background">
          <br>
          <div class="info-space">
            <h1>
              Registro Bicicletas
              <br><br> 
              <div class="rango">
                Desde: <input type="datetime-local" name="Desde">
                 
                Hasta: <input type="datetime-local" name="Hasta"> 
                 <br><br>

              </div>
            </h1>           
              </div>
          <div class="info-space">
              <h1>
                  Registro de Accesos
                  <br><br> 
                  <div class="rango">
                    Desde: <input type="datetime-local" name="Desde">
                     
                    Hasta: <input type="datetime-local" name="Hasta"> 
                     <br><br>
    
                  </div>
                </h1>      
            </div> 
            <div class="info-space">
                <h1>
                    Registro de Alumnos
                    <br><br> 
                    <div class="rango">
                      Desde: <input type="datetime-local" name="Desde">
                       
                      Hasta: <input type="datetime-local" name="Hasta"> 
                       <br><br>
      
                    </div>
                  </h1>      
            </div> 
      </div>