<div class="inicio-background">
  <app-menu-component></app-menu-component>
<br>
          <div class="info-space">
            <h1>
              Registro Bicicletas
              <br><br>
              <div class="rango">
                Desde: <input type="datetime-local" name="Desde">

                Hasta: <input type="datetime-local" name="Hasta">
                 <br>
                 <input type="image" src="assets/img/descarga.png" alt="Descargar" width=9% height=9% >
                 <br>
              </div>
            </h1>
              </div>
          <div class="info-space">
              <h1>
                  Registro de Accesos
                  <br><br>
                  <div class="rango">
                    Desde: <input type="datetime-local" name="Desde">

                    Hasta: <input type="datetime-local" name="Hasta">
                    <br>
                    <input type="image" src="assets/img/descarga.png" alt="Descargar" width=9% height=9% > <br>

                  </div>
                </h1>
            </div>
            <div class="info-space">
                <h1>
                    Registro de Alumnos
                    <br><br>
                    <div class="rango">
                      Desde: <input type="datetime-local" name="Desde">

                      Hasta: <input type="datetime-local" name="Hasta">
                      <br>
                      <input type="image" src="assets/img/descarga.png" alt="Descargar" width=9% height=9% ><br>
                    </div>
                  </h1>
            </div>
      </div>
