
.inicio-background{
  
    background-color: white;
    position: absolute;
    font-family: 'Source Sans Pro', sans-serif;
    width: 100%;
    font-size: 16px;
    height: 100%;
    color: white;
    text-align: center;
  }
  header{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: white;
    text-align: center;
  }
  input {
    widows: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid#003B5C;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
  }

  .rango{
    text-align: left;
    padding-left: 15%;
    font-size:16px;
  }
  
  .info-space{
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #003B5C;
    color: white;
    font-size: 16px;
    text-align: center;
  }
  p{
    font-size: 3rem;
  }
  img {
    width: 30%;
    height: 30%;
  }