<div class="inicio-background">
    <div>
      <div class="bar">
      <h3>Vigilantes</h3>
    </div>
         
  </div>
  <br>
    <form class="formulario">
        Clave:<br>
        <input type="text" name="Clave" >
        <br><br>
        Contraseña:<br>
            <input type="password" name="Contraseña">
            <br><br>
        Acceso:<br>
            <select name="Acceso">
                <option value="AccesoA">Acceso A</option>
                <option value="AccesoB">Acceso B</option>
                <option value="AccesoC">Acceso C</option>
                <option value="AccesoD">Acceso D</option>
                <option value="AccesoE">Acceso E</option>
                <option value="AccesoF">Acceso F</option>
                <option value="AccesoG">Acceso G</option>
                <option value="AccesoH">Acceso H</option>
                <option value="AccesoI">Acceso I</option>
                <option value="AccesoJ">Acceso J</option>
                <option value="AccesoK">Acceso K</option>
            </select>
            <br><br>
            <input type="button" class="buttone" value="Entrar" routerLink="/menuVig1">
            <br>
        <p routerLink="/recuperar2">¿Olvidaste la contraseña?</p>
    </form>
</div>