<div class="inicio-background">
    <div>
      <div class="bar">
  <div class="dropdown">
  <button class="dropbtn">
    <div class="btn"></div>
    <div class="btn"></div>
    <div class="btn"></div>
  </button>
  
  <div class="adminmenu">
    <a routerLink="/aControlB" >Control de bicicletas</a>
    <a routerLink="/aRegE1">Registro extemporáneo</a>
    <a routerLink="/aRegV">Registro de vigilantes</a>
    <a routerLink="/aAccesos">Control de accesos</a>
    <a routerLink="/aExp">Exportar datos</a>
  
  </div>
  
  </div>
  <h3>Registro Extemporáneo</h3>
  </div>
        
            
            
  </div>
  <br>
  <form class="formulario">
    Marca:<br>
    <input type="text" name="Marca" >
    <br>
    Rodada:<br>
    <select name="Rodada">
          <option value="10"> 10</option>
       </select>
        <br><br>
    Color:<br>
    <input type="text" name="Color" > 
    <br>
    Numero de Serie:<br>
    <input type="text" name="NSerie" > 
    <br>
    Matricula del Dueño:<br>
    <input type="text" name="MatDueño"><br>
    Compartida con:<br>
    <input type="text" name="Compartida"><br>
    <input type="image" src="https://svgsilh.com/svg/157351.svg" alt="Fotografía" width="48" height="48">
   <br>
    <input type="button" class="button" value="Guardar">
  </form>

</div>