<div class="inicio-background">
  <app-menu-component></app-menu-component>
  <br>
  <form class="formulario">
    Marca:<br>
    <input type="text" name="Marca" >
    <br>
    Rodada:<br>
    <select name="Rodada">
          <option value="10"> 10</option>
       </select>
        <br><br>
    Color:<br>
    <input type="text" name="Color" >
    <br>
    Numero de Serie:<br>
    <input type="text" name="NSerie" >
    <br>
    Matricula del Dueño:<br>
    <input type="text" name="MatDueño"><br>
    Compartida con:<br>
    <input type="text" name="Compartida"><br>
    <button class="btnicon">
        <input type="image"src="assets/img/camara.png" alt="Descargar" width="80%" height="60%" >
    </button>
   <br>
    <input type="button" class="button" value="Guardar">
  </form>

</div>
